* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 0.5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 0.2em;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: calc(var(--index) * 3);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: 0.9;
}

.header__load {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * 1);
  margin-top: 5px;
}

.gallery {
  width: 30vw;
  column-width: 2em;
  gap: var(--gap);
  transform: scale(8.3);
}

.gallery__item {
  margin-bottom: var(--gap);
  transform: scale(1.001); /* убирает blur и нужная форма. */
}

.gallery_img {
  width: 100%;
}
